[Unit]
Description=Keywatcher Service

[Service]
Type=simple

# add -v option for verbose mode
ExecStart=/home/dd/go/bin/keywatcher

Restart=always

[Install]
WantedBy=multi-user.target
