[Unit]
Description=Nuclear Keyboard

[Service]
Type=simple

# add -v option for verbose mode
ExecStart=/home/dd/go/bin/nkb

Restart=always

[Install]
WantedBy=multi-user.target
