[Unit]
Description=Nuclear Keyboard

[Service]
Type=simple

# add -v option for verbose mode
ExecStart=/usr/local/bin/nkb -d 4

Restart=always

[Install]
WantedBy=multi-user.target
